<div class="login-container">
    <div class="login-content">
      <mat-toolbar class="login-toolbar" color="primary">REGISTER</mat-toolbar>
      <mat-card>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="Input_Div">    
          <mat-form-field appearance="fill">
            <mat-icon matPrefix>email</mat-icon>
            <input type="email" matInput placeholder="Email *" formControlName="email" required>
            <mat-error *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">Email is required.</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-icon matPrefix>person_outline</mat-icon>
            <input type="text" matInput placeholder="Name *" formControlName="username" required>
            <mat-error *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">Username is required.</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input type="password" matInput placeholder="Password *" formControlName="password" required>
            <mat-hint>Choose a password of at least eight characters, one uppercase letter, and one number.</mat-hint>
            <mat-error *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">Password is required.</mat-error>
          </mat-form-field>
  
          <div class="socialMediaFlex">
            <button type="submit" mat-raised-button color="primary">Submit</button>
          </div>
        </div>
        </form>
      </mat-card>
    </div>
  </div>
  